# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
PORT=4000
APP_NAME=LibraryManager
AUTH_JWT_SECRET=jwtsecret
AUTH_JWT_TOKEN_EXPIRES_IN=12d
BACKEND_DOMAIN=https://localhost:4000
API_PREFIX=api
FILE_DRIVER=storage
ACCESS_KEY_ID=acs
SECRET_ACCESS_KEY=scsac